.langton-box-con {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#langton-box {
    width: 550px;
    height: 550px;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.child {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    box-sizing: border-box;
}

.dark {
    background-color: #000;
}

.white {
    background-color: #fff;
}

.left {
    width: 45px;
    height: 45px;
    transform: rotate(-90deg);
}
.right{
    /* width: 45px; */
    height: 45px;
    transform: rotate(90deg);
}
.down{
    width: 45px;
    height: 45px;
    transform: rotate(180deg);
}
.up{
    width: 45px;
    height: 45px;
    /* transform: rotate(90deg); */
}

.start{
    background-color: green;
}
.stop{
    background-color: red;
}

@media screen and (max-width:600px) {
    #langton-box {
        width: 440px;
        height: 440px;
        border: 1px solid #000;
        display: flex;
        flex-wrap: wrap;
    }
    .child {
        width: 40px;
        height: 40px;
        border: 1px solid #000;
        box-sizing: border-box;
    }
}

@media screen and (max-width:00px) {
    #langton-box {
        width: 440px;
        height: 440px;
        border: 1px solid #000;
        display: flex;
        flex-wrap: wrap;
    }
    .child {
        width: 40px;
        height: 40px;
        border: 1px solid #000;
        box-sizing: border-box;
    }
}

@media screen and (max-width:450px) {
    #langton-box {
        width: 330px;
        height: 330px;
        border: 1px solid #000;
        display: flex;
        flex-wrap: wrap;
    }
    .child {
        width: 30px;
        height: 30px;
        border: 1px solid #000;
        box-sizing: border-box;
    }
}
